<a href="https://colab.research.google.com/github/rajisowji/flowers/blob/master/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Introduction

In this notebook, we will explore various tools and components that make up the data science ecosystem.  
We will cover common libraries, environments, and frameworks used by data scientists for data analysis, machine learning, and data visualization.  
The goal is to provide a comprehensive overview of the technologies that support data-driven decision making.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used data science libraries  
- Understand various data science tools and platforms  
- Explore examples of arithmetic expressions in Python  
- Perform simple unit conversions like minutes to hours

## Author

Coursera- Tools for Datascience

## Popular Languages for Data Science

Some of the most commonly used languages in the field of data science include:

- Python
- R
- SQL
- Julia
- Scala

## Commonly Used Data Science Libraries

Data scientists rely on a variety of libraries to perform data manipulation, analysis, visualization, and machine learning. Some of the most widely used libraries include:

- **Pandas** – for data manipulation and analysis  
- **NumPy** – for numerical computing  
- **Matplotlib** – for data visualization  
- **Seaborn** – for statistical data visualization  
- **Scikit-learn** – for machine learning  
- **TensorFlow** – for deep learning  
- **Keras** – for building neural networks  
- **PyTorch** – for machine learning and deep learning

## Table of Data Science Tools

| Category            | Tool/Platform        | Description                                  |
|---------------------|----------------------|----------------------------------------------|
| IDE/Notebook        | Jupyter Notebook     | Web-based interactive computing environment  |
| IDE/Notebook        | RStudio              | IDE for R and Python                         |
| Big Data Framework  | Apache Spark         | Distributed data processing engine           |
| Machine Learning    | TensorFlow           | Deep learning framework by Google            |
| Machine Learning    | Scikit-learn         | Library for classical machine learning       |
| Deep Learning       | PyTorch              | Deep learning framework by Meta              |
| Visualization       | Tableau              | Data visualization and business intelligence |
| Data Integration    | Apache Airflow       | Workflow automation and scheduling tool      |

## Examples of Evaluating Arithmetic Expressions
print("Addition: 5 + 3 =", 5 + 3)
print("Subtraction: 10 - 4 =", 10 - 4)
print("Multiplication: 6 * 7 =", 6 * 7)
print("Division: 20 / 5 =", 20 / 5)

In [8]:
 print("Division: 20 / 5 =", 20 / 5)

Division: 20 / 5 = 4.0

In [7]:
 print("Multiplication: 6 * 7 =", 6 * 7)

Multiplication: 6 * 7 = 42

In [6]:
print("Subtraction: 10 - 4 =", 10 - 4)

Subtraction: 10 - 4 = 6

In [5]:
print("Addition: 5 + 3 =", 5 + 3)

Addition: 5 + 3 = 8

In [9]:
print((3*4)+5)

17

In [10]:
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.